
body{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background: #ffffff;
    
}

h1{
    text-align: center;
    color: #333;
}

.container{
    flex: 1;
    max-width: 500px;
    min-height: 350px;
    margin: auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    display: flex;
    flex-direction: column;
}

button{
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background: #000000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;;
}

th, td{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.footer {
  background-color: #3f3f3f;
  padding: 5px;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  margin-top: 80px;
}


@media (max-width: 600px) {
  h1 { font-size: 22px; }
  button { font-size: 14px; }
}